@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
    --bg: #15202B;
    --garis: #253341;
    --tem: #0099ff;
    --cool: #192734;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Acme', sans-serif;
}

body {
    background: var(--bg);
    color: white;
}

.light-mode {
    background-color: white;
    color: #000;
}

.light-mode svg {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


.main {
    padding: 20px;
}

.menu {
    width: 30%;
    border-right: 1px solid var(--garis);
}

.konten {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.others {
    border-left: 1px solid var(--garis);
    width: 30%;
}

.logo {
    display: flex;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    background: var(--garis);
    align-items: center;
}

.logo span {
    margin-left: 10px;
    font-weight: 700;
    font-family: 'Acme', sans-serif;
    font-size: 20pt;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-bottom: 1px solid var(--garis);
    border-top: 1px solid var(--garis);
    color: #fff;
}

.asal-sekolah span {
    font-size: 10pt;
}

.profile img {
    width: 50px;
    border: 5px solid var(--garis);
    border-radius: 100%;
    margin-right: 10px;
}

.navigasi {
    margin-top: 30px;
}

.pencapaian {
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--garis);
}

.penting {
    display: flex;
    margin: 10px;
}

.milikmu {
    border: 1px solid var(--garis);
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 150px;
    background: var(--cool);
}

.milikmu .kiri,
.milikmu .kanan {
    display: flex;
    align-items: center;
}

.milikmu svg {
    width: 20px;
    margin-right: 5px;
    color: var(--tem);
}

.list-pencapaian {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-pencapaian .kiri {
    display: flex;
    align-items: center;
}

.list-pencapaian svg {
    width: 20px;
    margin-right: 10px;
    color: var(--tem);
}

.nav {
    display: flex;
    font-weight: 900;
    font-size: 15pt;
    justify-content: flex-start;
}

.filter-icon a {
    width: 50px;
    justify-content: center;
}

.filter {
    overflow: hidden;
}

.isi-filter {
    display: none;
    position: absolute;
    border-radius: 20px;
    background: var(--garis);
}

.isi-filter a {
    display: block;
}

.filter:hover .isi-filter {
    display: block;
}

.isi-menu a:first-child {
    border-radius: 0;
    margin-bottom: 0;
    background: none;
}

.isi-menu a:first-child:hover {
    background: var(--tem);
    color: white;
}

.isi-menu a:first-child svg:hover {
    color: white;
}

.navigasi a {
    padding: 10px;
    color: #fff;
    font-weight: 100;
    margin: 5px;
}

.jenjang,
.tema {
    display: none;
}

.navigasi a:hover {
    background: var(--tem);
    border-radius: 20px;
    color: #fff;
}

.nav svg {
    width: 30px;
    margin-right: 20px;
    color: var(--abu);
}

.navigasi .active {
    color: #36A7E0;
}

.nav:first-child:hover {
    color: var(--tem);
    background: var(--garis);
}

.navbar {
    border-bottom: 1px solid var(--garis);
    padding: 10px;
    background: var(--bg);
    display: flex;
    justify-content: space-between;
}

.urut svg {
    color: var(--tem);
    width: 25px;
    padding: 5px;
    margin-right: 10px;
}

.urut .active {
    background: var(--garis);
    border-radius: 20px;
}

.urut svg:hover {
    background: var(--garis);
    border-radius: 20px;
}

::selection {
    background: var(--garis);
}

.search-wrapper {
    background-color: var(--cool);
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 2px;
    border-radius: 30px;
}

.search-wrapper input:focus::placeholder {
    color: var(--tem);
}

.search-input {
    border: none;
    flex: 1;
    outline: none;
    height: 30px;
    padding: 0 20px;
    font-size: 12px;
    background: var(--cool);
    color: var(--tem);
}

.search-input::placeholder {
    color: #fff;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--garis);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $ {
        ( {
            theme
        }

        )=>theme.colors.input
    }

    ;
    border-radius: 10px;
}

.rangking {
    border-bottom: 1px solid var(--garis);
    border-top: 1px solid var(--garis);
    margin-top: 50px;
    padding: 10px;
    border-radius: 20px;
    background: var(--cool);
}

.rangking .title {
    font-size: 15pt;
    font-weight: bold;
    color: var(--tem);
    margin-bottom: 10px;
    letter-spacing: 1px;
}

select{
	background: var(--garis);
	color: white;
	border: 0;
	padding: 5px;
	outline: 0;
}

.simbol svg {
    width: 30px;
    background: var(--bg);
    border-radius: 100%;
    padding: 5px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid var(--garis);
}

.isi-container .profile {
    margin-top: 10px;
}

.isi-container .profile {
    border-top: none;
    font-weight: none;
    font-size: 15pt;
}

.isi-container .profile svg {
    width: 15px;
    color: var(--tem);
}

.akhir-rangking {
    border: none;
    color: var(--tem);
}

.tingkatkan-poin {
    margin-top: 50px;
    background: var(--cool);
    border-radius: 20px;
}
.tingkatkan-poin .label{
	text-align: center;
	padding-bottom: 10px;
    font-weight: bold;
    font-size: 15pt;
}
.isi-tingkatkan-poin{
	height: 10vh;
	font-weight: 100;
	border-radius: 20px;
}
.tingkatkan-poin-utama .isi-tingkatkan-poin{
	height: 90vh;
}

.label {
    padding: 10px;
    background: var(--garis);
}

.isi-tingkatkan-poin {
    height: 30vh;
    overflow: auto;
    padding: 10px;
    padding-top: 20px;
}

.poin {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-poin {
    width: 30px;
    margin-right: 10px;
    background: var(--garis);
    border-radius: 50px;
    padding: 10px;
}

.icon-poin svg{
	width: 25px;
	color: var(--tem);
}
.text-poin {
    font-size: 11pt;
}

.text-poin svg {
    color: var(--org);
    width: 12px;
}

.desc-poin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.desc-poin div {
    margin: 10px;
}

.tiga {
    text-align: center;
    background: var(--bg);
    padding: 5px 20px;
    width: 90%;
    border-radius: 10px;
}

.tiga:hover {
    background: var(--garis);
}
.tanya {
    padding: 20px;
    border-bottom: 1px solid var(--garis);
    background: var(--bg);
    margin-bottom: 50px;
}

.tanya textarea {
    padding: 10px;
    font-size: 14pt;
    outline: 0;
    border: none;
    background: var(--bg);
    color: var(--tem);
    height: auto;
    width: 100%;
    font-family: 'Acme', sans-serif;
    resize: none;
}

.tanya textarea::placeholder {
    font-family: 'Acme', sans-serif;
    color: #fff;
}

.tanya textarea:focus::placeholder {
    color: var(--tem);
}

.pendukung {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.pendukung a svg {
    width: 20px;
    color: var(--tem);
}

.pendukung a {
    margin-right: 10px;
    padding: 5px;
    border-radius: 100%;
}

.tombol-tanya {
    text-align: center;
    background: var(--tem);
    padding: 10px;
    border-radius: 5px;
    font-size: 9pt;
    -webkit-box-shadow: 0px 0px 15px -5px #15202B; 
box-shadow: 0px 0px 15px -5px #15202B;
}

.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 50px auto;
    font-size: 10pt;
    padding: 25px;
    background: var(--bg);
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label {
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    border: 1px solid var(--tem);
    background: var(--garis);
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 10px;
    background: var(--bg);
    order: 1;
    display: none;
    overflow-x: scroll;
}

.mytabs label svg {
    width: 15px;
}

.mytabs .tab b {
    font-weight: 100;
    color: var(--tem);
}

.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs .tab p {
    margin-top: 10px;
}

.mytabs input[type='radio']:checked+label+.tab {
    display: block;
}

.mytabs input[type="radio"]:checked+label {
    background: var(--tem);
}

.mytabs input[type="radio"]:hover+label {
    background: var(--tem);
}

table {
    background: var(--cool);
    margin-top: 30px;
    border-collapse: collapse;
}

thead {
    background: var(--garis);
}

th {
    color: white;
    font-size: 0.85em;
    font-weight: 200;
    padding: 0.5em 1em;
    text-align: left;
}

td {
    color: #fff;
    font-weight: 400;
    padding: 0.5em 1em;
}

.disabled td {
    color: #4F5F64;
}

tbody tr {
    transition: background 0.25s ease;
}

tbody tr:hover {
    background: var(--tem);
}

.table a {
    border-bottom: 1px solid var(--tem);
}


.container-jawab a span:hover {
    background: var(--tem);
}

.isi-tanya-container {
    padding: 10px;
    margin-top: 20px;
}

.isi-tanya-container p {
    text-align: center;
    font-size: 10pt;
}

.isi-tanya-notif {
    padding: 10px;
    margin-bottom: 50px;
}

.container .rangking-container {
    display: flex;
    justify-content: center;
}

.home .isi-rangking-container {
    padding: 10px;
    margin: 5px;
    margin-bottom: 50px;
}

.container .isi-rangking-container {
    padding: 10px;
    width: 90%;
    margin-bottom: 50px;
}

.container .isi-rangking {
    border-bottom: 1px solid var(--garis);
    border-top: none;
    padding-top: 5;
    padding-bottom: 10px;
}

.isi-rangking {
    display: flex;
    border-top: 1px solid var(--garis);
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.isi-rangking .kiri {
    display: flex;
    align-items: center;
}

.isi-rangking img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%;
}

.isi-rangking svg {
    color: var(--tem);
    width: 10px;
}

.notif {
    border: 1px solid var(--tem);
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    font-weight: 100;
    margin-bottom: 30px;
}

.notif h3 {
    color: var(--tem);
}

.notif .orang {
    color: var(--tem);
}

.notif .info .dilihat {
    background: var(--garis);
    padding: 5px;
    font-size: 10pt;
    border-radius: 20px;
}

.notif .info .dilihat svg {
    margin-right: 5px;
}

.isi-tanya-container a .notif:hover {
    background: var(--garis);
}

.isi-tanya {
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    background: var(--cool);
    border: 1px solid var(--tem);
    font-size: 10pt;
}

.ttg-tanyaan {
    font-weight: 100;
    display: flex;
    margin-bottom: 10px;
    margin-left: 5px;
}

.ttg-tanyaan div {
    margin-right: 10px;
}

.ttg-tanyaan span {
    color: var(--tem);
    margin-left: 5px;
}

.waktu span {
    color: white;
    font-size: 8pt;
    padding: 5px;
    border-radius: 20px;
    background: var(--garis);
}

.info {
    display: flex;
    margin-top: 5px;
}

.info .dilihat {
    margin-right: 10px;
}

.dilihat svg {
    width: 12px;
    color: var(--tem);
}

.paling-atas {
    display: flex;
    margin-bottom: 5px;
}

.paling-atas .waktu {
    margin-left: 5px;
}

.container-jawab {
    float: right;
}

.container-jawab svg {
    width: 10px;
    margin-right: 5px;
    color: var(--tem)
}

.container-jawab .tombol-tanya {
    background: var(--garis);
    border: 1px solid var(--tem);
    cursor: pointer;
}

.tanyaan-nya {
    font-size: 15pt;
}

.tanyaan-nya img {
    width: 80%;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
}

.navigasi-tanya-jawab svg {
    width: 15px;
    margin-right: 5px;
}

.navigasi-tanya-jawab a:hover {
    color: var(--tem);
}

/* dekstop styles */
@media screen and (min-width: 1024px) {
    .mobile {
        display: none;
    }
}

/* mobile styles */
@media screen and (max-width: 1023px) {
    .container {
        display: none;
    }

    .mobile .logo {
        border-radius: 0;
        left: 0;
        right: 0;
    }

    .mobile .navbar {
        position: fixed;
        background: var(--garis);
        right: 0;
        left: 0;
        z-index: 99;
        bottom: 0;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mobile .navbar svg {
        color: white;
        width: 30px;
    }

    .mobile .navbar svg:hover,
    .mobile .navbar svg.active {
        color: var(--tem);
    }

    .mobile .home .search-wrapper {
        font-size: 15pt;
        right: 0;
        left: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 0;
        padding-right: 0;
    }

    .mobile .home input:focus::placeholder {
        color: var(--tem);
    }

    .mobile .filter {
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile .filter svg {
        width: 20px;
        background: var(--garis);
        padding: 5px;
        border-radius: 10px;
    }

    .mobile .filter .keluar {
        color: var(--tem);
    }

    .mobile .add-tanya {
        border-top: 1px solid var(--garis);
        margin-bottom: 20px;
    }

    .mobile .tanya {
        margin-bottom: 5px;
    }

    .mobile .tanya textarea {
        font-size: 12pt;
    }

    .mobile .pendukung {
        padding: 10px;
    }

    .mobile .pendukung a svg {
        width: 20px;
        color: var(--tem);
    }

    .tombol-tanya {
        padding: 5px;
    }

    .mobile .rangking-container {
        display: flex;
        justify-content: center;
    }

    .mobile .rangking {
        margin-top: 20px;
    }

    .mobile .title-container .title {
        font-size: 12pt;
    }

    .mobile .profile {
        padding: 5px;
        font-size: 10pt;
    }

    .mobile .profile img {
        width: 25px;
    }

    .mobile .isi-tanya-container {
        margin-bottom: 50px;
    }

    .mobile .container-banyak {
        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    .home .penting {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .mobile .isi-tanya-container .pencapaian {
        background: var(--cool);
    }

    .mobile .list-pencapaian .kiri svg {
        width: 40px;
    }

    .mobile .list-pencapaian .kanan {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile .list-pencapaian .kanan svg {
        width: 10px;
    }

    .mobile .mytabs label {
        background: var(--cool);
        border: 0;
        padding: 10px;
        border-radius: 0;
        margin: 0;
    }

    .mobile .mytabs input[type="radio"]:first-child+label {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .mobile .mytabs-tanya input[type="radio"]:nth-last-child(3)+label {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .mobile .mytabs-profil label:nth-child(14) {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .mobile .mytabs label svg {
        width: 15px;
    }

    .mobile .mytabs input[type="radio"]:hover+label {
        background: var(--garis);
    }

    .mobile .mytabs input[type="radio"]:checked+label {
        background: var(--garis);
    }

    .mobile .mytabs {
        margin-bottom: 50px;
    }

    .mobile .mytabs .isi-tanya-container .tanyaan-nya {
        font-size: 12pt;
    }

    .mobile .mytabs .isi-tanya-container .container-jawab {
        margin: 10px;
    }

    .mobile .tanyaan-nya img {
        width: 200px;
        height: auto;
        margin-top: 10px;
        border-radius: 20px;
    }

    .mobile .hasil-jawab .tanya {
        border: 1px solid var(--tem);
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .mobile .hasil-jawab .tanya textarea::placeholder {
        color: var(--tem);
    }

    .mobile .hasil-jawab .tanya .tombol-tanya {
        padding: 5px 15px;
    }
}